{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<div>
    <h1>Edit Product</h1>

    {{ include('productss/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_productss_index') }}">back to list</a>

    {{ include('productss/_delete_form.html.twig') }}
</div>
{% endblock %}